* {
  color: white;
  // background-color:#282837 ;
}

.login-container {
  background-color: #282837;

  .left {
    .brand {
      font-family: "Montserrat", sans-serif;
    }

    .login-form {
      .cu-input {
        background-color: transparent;
        border: 1px solid white;
        color: white;
      }

      .cu-btn {
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  .right {
    background-image: url("src/assets/images/s1.png");
    height: 100vh;
    object-fit: cover;
  }

  //right container of sign-in page
  .signin-right {
    background-image: url("src/assets/images/b.png");
    background-position: right;
    background-repeat: no-repeat;
  }
}

.navbar-container {
  .left {
    .cu-input {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.648);
      color: white;
    }

    .cu-input::placeholder {
      color: white;
      opacity: 0.5;
    }
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.sidebar-container {
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.34);

  .brand {
    font-family: "Montserrat", sans-serif;
  }

  .selected-category {
    background-color: #4a83f6;
  }
}

.cu-container {
  height: 100vh;
  background-color: #21212d;
  // color: white;

  // .left-section {
  //   height: fit-content;
  // }

  .right-section {
    height: 100vh;
    overflow-y: auto;
    background-color: #21212d;

    .hero-section {
      h4 {
        font-family: "Montserrat", sans-serif;
      }
    }

    .last-section {
      margin-top: 3vh;

      .heading {
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}

.banner-container {
  height: 60vh;
  margin-bottom: 20px;
  background-image: url("src/assets/images/banner.png");
  background-position: top right;

  .details {
    margin-bottom: 2vh;

    .left {
      font-family: "Montserrat", sans-serif;
    }
  }
}

.card-container {
  margin-right: 20px;

  img {
    width: 200px;
    height: 220px;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    color: #4a83f6;
    font-weight: bolder;
    margin-top: 1vh;
  }

  @media (max-width: 960px) {
    .card-container {
      img {
        width: 150px;
      }
    }
  }
}

.my-collection-container {
  .right-section {
    .hero-section {
      .left {
        background: #282837;
        padding: 10px 20px;
        height: 51vh;

        .hide-scrollbar::-webkit-scrollbar {
          display: none;
        }

        .heading {
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
}

.create-book-container {
  background-color: #282837;
  height: 100vh;
  color: white;

  .login-form {
    .heading {
      font-family: "Montserrat", sans-serif;
    }

    .cu-input {
      background-color: #282837;
      border: 1px solid white;
      color: white;
    }

    .cu-btn {
      font-family: "Montserrat", sans-serif;
    }
  }
}

.book-page-container {
  .right-section {
    .hero-section {
      height: max-content;

      .heading {
        font-family: "Montserrat", sans-serif;
        margin-bottom: 3vh;
        line-height: 1.25;
      }
    }

    .last-section {
      margin-top: 2vh;

      .chapter-progress-heading {
        margin-top: 2vh;

        .chapter-heading {
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
}
