* {
  color: white;
}

.login-container {
  background-color: #282837;
}
.login-container .left .brand {
  font-family: "Montserrat", sans-serif;
}
.login-container .left .login-form .cu-input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.login-container .left .login-form .cu-btn {
  font-family: "Montserrat", sans-serif;
}
.login-container .right {
  background-image: url("src/assets/images/s1.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-container .signin-right {
  background-image: url("src/assets/images/b.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-container {
  width: 70%;
  background-color: #282837;
  z-index: 2000;
  /* Sidebar slide-in animation */
  /* When sidebar is active (visible) */
}
.navbar-container .left .cu-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.648);
  color: white;
}
.navbar-container .left .cu-input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.navbar-container .left .cu-input::placeholder {
  color: white;
  opacity: 0.5;
}
.navbar-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.navbar-container .sidebar-slide {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 75%;
  height: 90vh;
  background-color: #282837;
  z-index: 2000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}
.navbar-container .active {
  transition: transform 0.5s ease-in;
  transform: translateX(0);
}

.sidebar-container {
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.34);
}
.sidebar-container .brand {
  font-family: "Montserrat", sans-serif;
}
.sidebar-container .selected-category {
  background-color: #4a83f6;
}

.cu-container {
  height: 100vh;
  background-color: #282837;
}
.cu-container .right-section {
  height: 100vh;
  overflow-y: auto;
  background-color: #282837;
}
.cu-container .right-section .hero-section h4 {
  font-family: "Montserrat", sans-serif;
}
.cu-container .right-section .last-section .heading {
  font-family: "Montserrat", sans-serif;
}

.banner-container {
  height: 60vh;
  margin-bottom: 20px;
  background-image: url("src/assets/images/banner.png");
  background-position: top right;
  background-size: cover;
}
.banner-container .details {
  margin-bottom: 2vh;
}
.banner-container .details .left {
  font-family: "Montserrat", sans-serif;
}
.banner-container .details .left .title {
  font-size: 2rem;
}

.card-container img {
  width: 200px;
  height: 220px;
}
.card-container .title {
  font-family: "Montserrat", sans-serif;
  color: #4a83f6;
  font-weight: bolder;
  margin-top: 1vh;
}

.my-collection-container .right-section .hero-section {
  margin-top: 5vh;
}
.my-collection-container .right-section .hero-section .left {
  background: #282837;
  height: 51vh;
}
.my-collection-container .right-section .hero-section .left .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.my-collection-container .right-section .hero-section .left .heading {
  font-family: "Montserrat", sans-serif;
}

.create-book-container {
  background-color: #282837;
  height: 100vh;
  color: white;
}
.create-book-container .login-form .heading {
  font-family: "Montserrat", sans-serif;
}
.create-book-container .login-form .cu-input {
  background-color: #282837;
  border: 1px solid white;
  color: white;
}
.create-book-container .login-form .cu-btn {
  font-family: "Montserrat", sans-serif;
}

.book-page-container .right-section .hero-section {
  margin-top: 5vh;
  height: -moz-max-content;
  height: max-content;
}
.book-page-container .right-section .hero-section .heading {
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
}
.book-page-container .right-section .last-section {
  margin-top: 2vh;
}
.book-page-container .right-section .last-section .chapter-progress-heading {
  margin-top: 2vh;
}
.book-page-container .right-section .last-section .chapter-progress-heading .chapter-heading {
  font-family: "Montserrat", sans-serif;
}
.book-page-container .right-section .modal {
  top: 20vh;
  width: 40vw;
  left: 30vw;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 960px) {
  .book-page-container .right-section .modal {
    top: 20vh;
    height: 50vh;
    left: 10vw;
    width: 80vw;
    margin: auto;
  }
}

.progress-container .progress-bar {
  top: 7vh;
  left: 7%;
  right: 7%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .banner-container {
    height: 40vh;
  }
  .banner-container .details .left .title {
    font-size: 1.25rem;
  }
  .card-container img {
    width: 150px;
  }
}
@media (min-width: 200px) and (max-width: 768px) {
  .navbar-container {
    width: 95%;
  }
  .card-container img {
    width: 200px;
    height: 250px;
  }
  .login-container {
    font-size: 1rem;
  }
  .login-container .left {
    height: 50vh;
  }
  .login-container .right {
    height: 50vh;
  }
  .banner-container {
    height: 35vh;
  }
  .banner-container .details .left .title {
    font-size: 1rem;
  }
}
@media (min-width: 200px) and (max-width: 768px) and (max-width: 576px) {
  .banner-container .details .right .btn {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */