.login-container {
  background: #282837;

  .left {
    color: white;

    .brand {
      font-family: "Montserrat", sans-serif;
    }

    .login-form {
      justify-content: center;
      align-items: center;

      .cu-input {
        background-color: #282837;
        border: 1px solid white;
        color: white;

        
      }

      .cu-btn {
        border-radius: 20px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  .right {
    background-image: url("images/s1.png");
    height:100vh;
    object-fit: cover;

   
  }

  //right container of sign-in page
  .signin-right {
    background-image: url("images/b.png");
    object-fit: contain;
    background-position: right;
    background-repeat: no-repeat;

  }
}

.navbar-container {
  justify-content: space-evenly;
  align-items: center;

  .left {
    .cu-input {
      background-color: #282837;
      border: 1px solid rgba(255, 255, 255, 0.648);
      border-radius: 12px;
      color: white;
    }

    .cu-input::placeholder {
      color: white;
      opacity: 0.5;
    }
  }


  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

 
}

.sidebar-container {
  height:100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.34);

  .brand {
    font-family: "Montserrat", sans-serif;
  }

  .catelog {
    font-size: 1.1rem;
  }

  .selected-category {
    background-color: #4a83f6;
    
  }

  

}

.cu-container {
 height: 100vh;
  background-color: #21212d;
  color: white;

  .left-section{
    height:fit-content;
  }

  .right-section {
    height: 100vh;
    align-items: center;
    overflow-y: auto;
    background-color: #21212d;

    .hero-section {

      h4 {
        font-weight: bold;
        font-family: "Montserrat", sans-serif;

        @media(max-width: 960px) {
          font-size: 0.8rem !important;
        }
      }

    }

    .last-section {
      margin-top: 3vh;
      padding-bottom: 5vh;

      .heading {
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: "Montserrat", sans-serif;

        
      }
    }
  }
}

.banner-container {
  border-radius: 10px;
  height: 60vh;
  margin-bottom: 20px;
  background-image: url("images/banner.png");
  // object-fit:cover;
  background-repeat: no-repeat;
  background-position: top right;

  img {
    width: 100%;
    // overflow: inherit;
  }

  .details {
    margin-bottom: 2vh;

    .left {
      font-family: "Montserrat", sans-serif;

      
    }

    .right {
      display: flex;
      justify-content: end;


      .btn {
        width: max-content;
      }
    }

  }

}

.card-container {

  img {
    width: 200px;
    height: 220px;
    border-radius: 10px;

  }

  .title {
    font-family: "Montserrat", sans-serif;
    color: #4a83f6;
    font-weight: bolder;
    margin-top: 1vh;
  }

  @media (max-width: 960px) {
    .card-container {
      img {
        width: 150px;
      }
    }
  }
}


.my-collection-container {
  width:100%;
  .right-section {
    .hero-section {
      .left {
        background: #282837;
        padding:20px;
        border-radius: 10px;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hide-scrollbar::-webkit-scrollbar {
          display: none;
          /* Chrome, Safari, Opera */
        }

        .heading {
          font-size: 1.5rem;
          font-family: "Montserrat",
            sans-serif;
          font-weight: bolder;

          @media(max-width: 960px) {
            font-size: 1.25 rem;
          }
        }

        @media(max-width: 960px) {
          width: 40vw;
        }
      }
    }
  }
}

.create-book-container {
  background-color: #282837;
  height: 100vh;
  color: white;

  .login-form {
    justify-content: center;
    align-items: center;

    h2 {

      font-size: 1.5rem;
      letter-spacing: 1px;

    }

    .by {
      font-size: 0.8rem;
    }

    .heading {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: "Montserrat",
        sans-serif;
    }

    .cu-input {
      background-color: #282837;
      border: 1px solid white;
      width: 22vw;
      color: white;

      @media (max-width: 992px) {
        width: 30vw;
      }

      @media (max-width: 768px) {
        width: 40vw;
      }
    }

    .cu-btn {
      width:max-content;
      border-radius: 20px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
    }
  }
}

.book-page-container {
  .right-section {
    .hero-section {
      height: max-content;
      margin-bottom: 10vh;

      

      .heading {
        font-size: 3rem;
        font-family: "Montserrat",
          sans-serif;
        font-weight: bolder;
        margin-bottom: 3vh;
        line-height: 1.25;
      }

      .details {
        font-size: 1.15rem;
      }
    }

    .last-section {
      margin-top: 2vh;
      .chapter-progress-heading {
        margin-top: 2vh;

        .chapter-heading {
          font-size: 2rem;
          font-family: "Montserrat",
            sans-serif;
          font-weight: bolder;
        }
      }
    }
  }
}