$primary-background: #282837;
$highlight-background: #4a83f6;
$font-stack: "Montserrat", sans-serif;
$white: white;
$highlight-font: #4a83f6;

* {
  color: $white;
}

.login-container {
  background-color: $primary-background;

  .left {
    .brand {
      font-family: $font-stack;
    }

    .login-form {
      .cu-input {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
      }

      .cu-btn {
        font-family: $font-stack;
      }
    }
  }

  .right {
    background-image: url("src/assets/images/s1.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  //right container of sign-in page
  .signin-right {
    background-image: url("src/assets/images/b.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.navbar-container {
  width: 70%;
  background-color: $primary-background;
  z-index: 2000;

  .left {
    .cu-input {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.648);
      color: $white;
    }

    .cu-input::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  /* Sidebar slide-in animation */
  .sidebar-slide {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 75%;
    height: 90vh;
    background-color: #282837;
    z-index: 2000;
    // border-top: 1px solid rgba(255, 255, 255, 0.125);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  }

  /* When sidebar is active (visible) */
  .active {
    transition: transform 0.5s ease-in;
    transform: translateX(0);
  }
}

.sidebar-container {
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.34);

  .brand {
    font-family: $font-stack;
  }

  .selected-category {
    background-color: $highlight-background;
  }
}

.cu-container {
  height: 100vh;
  background-color: $primary-background;

  .right-section {
    height: 100vh;
    overflow-y: auto;
    background-color: $primary-background;

    .hero-section {
      h4 {
        font-family: $font-stack;
      }
    }

    .last-section {
      .heading {
        font-family: $font-stack;
      }
    }
  }
}

.banner-container {
  height: 60vh;
  margin-bottom: 20px;
  background-image: url("src/assets/images/banner.png");
  background-position: top right;
  background-size: cover;

  .details {
    margin-bottom: 2vh;

    .left {
      font-family: $font-stack;

      .title {
        font-size: 2rem;
      }
    }
  }
}

.card-container {
  img {
    width: 200px;
    height: 220px;
  }

  .title {
    font-family: $font-stack;
    color: $highlight-font;
    font-weight: bolder;
    margin-top: 1vh;
  }
}

.my-collection-container {
  .right-section {
    .hero-section {
      margin-top: 5vh;

      .left {
        background: $primary-background;
        height: 51vh;

        .hide-scrollbar::-webkit-scrollbar {
          display: none;
        }

        .heading {
          font-family: $font-stack;
        }
      }
    }
  }
}

.create-book-container {
  background-color: $primary-background;
  height: 100vh;
  color: $white;

  .login-form {
    .heading {
      font-family: $font-stack;
    }

    .cu-input {
      background-color: $primary-background;
      border: 1px solid $white;
      color: $white;
    }

    .cu-btn {
      font-family: $font-stack;
    }
  }
}

.book-page-container {
  .right-section {
    .hero-section {
      margin-top: 5vh;
      height: max-content;

      .heading {
        font-family: $font-stack;
        line-height: 1.25;
      }
    }

    .last-section {
      margin-top: 2vh;

      .chapter-progress-heading {
        margin-top: 2vh;

        .chapter-heading {
          font-family: $font-stack;
        }
      }

      .heading {
        width: 68vw;
      }
    }

  }
}

.progress-container {
  .progress-bar {
    top: 7vh;
    left: 7%;
    right: 7%
  }
}

// .modal .form-group label {
//   color: black; // or #f8f9fa for Bootstrap white
// }

.modal .title {
  color: white; // or #f8f9fa for Bootstrap white
}

.modal .form-group input {
  background-color: transparent;
  color: white;
}


@media(min-width:768px) and (max-width:992px) {
  .banner-container {
    height: 40vh;

    .details {
      .left {
        .title {
          font-size: 1.25rem;
        }
      }
    }
  }



  .card-container {
    img {
      width: 150px;
    }
  }
}


@media(min-width:200px) and (max-width:768px) {
  .navbar-container {
    width: 95%;
  }

  .card-container {
    img {
      width: 200px;
      height: 250px;
    }
  }

  .login-container {
    font-size: 1rem;

    .left {
      height: 50vh;
    }

    .right {
      height: 50vh;
    }
  }

  .banner-container {
    height: 35vh;

    .details {
      .left {
        .title {
          font-size: 1rem;
        }
      }

      .right {
        .btn {
          @media(max-width:576px) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  .book-page-container {
    .right-section {
      .last-section {
        .heading {
          width: 100%;
        }
      }
    }
  }
}